.placeholder-app {
  text-align: center;
}

.placeholder-app .counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-app .counter .counter-value {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.placeholder-app h1 {
  color: red;
}